<h1>Rewards for <%= @user.name %></h1>
<p>P5 Balance: <%= @user.p5_balance %></p>
<p>Reward Balance: <%= @user.reward_balance %></p>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Points</th>
      <th>Giver</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @rewards.each_with_index do |reward, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= formatted_date(reward.created_at) %></td>
        <td><%= reward.points %></td>
        <td><%= reward.giver.name %></td>
        <td>
          <%= link_to 'Delete', delete_reward_user_path(@user, reward), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Reward', new_reward_history_path(@user) %>
